@import 'antd/dist/antd.css';
.container-sm {
  max-width: 640px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container-md {
  max-width: 768px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container-lg {
  max-width: 1024px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container-xl {
  max-width: 1280px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.App {
  color: #374151;
  font-family: inherit;
}
.App-header-tag {
  padding: 32px 10px;
  font-size: 0.75rem;
}
.App-header-tag .contact1 p:first-child {
  display: flex;
  align-items: center;
  padding-right: 24px;
  border-right: 1px solid #374151;
}
.App-header-tag .contact1 p:first-child svg {
  margin-right: 8px;
}
.App-header-tag .contact2 .alba {
  padding: 0px 8px 0px 24px;
}
.App-header-tag .contact3 p {
  display: flex;
  align-items: center;
}
.App-header-tag .contact3 p svg {
  margin-right: 8px;
}
.App .App-header {
  font-size: 14px;
}
.App .App-header .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.App .App-header .menus .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .App-header .menus .icon img {
  height: 2.5rem;
}
.App .App-header .menus .icon .bar {
  display: none;
}
.App .App-header .menus .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .App-header .menus .menu p {
  margin-left: 20px;
  margin-bottom: 0;
}
.App .App-header .menus .menu button {
  padding: 4px 8px;
  background-color: #2563eb;
  border-radius: 4px;
  border: 0 solid #e5e7eb;
  color: #fff;
  font-size: 12px;
}
.App .App-header .menus .menu button {
  margin: 0px 10px;
}
.App .section {
  min-height: 500px;
  width: 100%;
  background-color: #3b82f6;
  margin-top: 12px;
  text-align: center;
}
.App .section-title {
  font-size: 3rem;
  line-height: 1;
  color: white;
  font-weight: 700;
  padding: 16px 24px;
}
.App .section-btns button {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.375rem;
  padding: 8px 24px;
  border: 2px solid #2563eb;
  cursor: pointer;
}
.App .section-btns button:first-child {
  background-color: #fff;
  color: #2563eb;
}
.App .section-btns button:last-child {
  background-color: #2563eb;
  color: #fff;
}
.App .section-btns button:last-child:hover {
  background-color: #fff;
  color: #2563eb;
}
.App .section-btns button:first-child:hover {
  background-color: rgb(211, 214, 255);
}
.App .productBox {
  width: 100%;
  background-color: #2B65E8;
  color: #fff;
  border-radius: 8px;
  margin-top: 40px;
  padding: 24px 24px 12px 24px;
}
.App .productBox h3 {
  color: #fff;
  text-align: left;
}
.App .productBox .price .price-tog {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.App .productBox .price .tog {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0;
  margin-right: 16px;
}
.App .productBox .price .noat {
  text-align: left;
}
.App .productBox .price .noat p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0;
}
.App .productBox .price .btns button {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.375rem;
  width: 100%;
  margin-top: 16px;
  padding: 8px 32px;
  border: 2px solid #2563eb;
  color: #2563eb;
  background-color: #fff;
  cursor: pointer;
}
.App .productBox .detail {
  font-weight: 600;
  margin-top: 20px;
}
.App .productBox .detail svg {
  margin-right: 8px;
}
.App .productBox .detail p {
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid rgb(178, 179, 180);
  margin-bottom: 0;
}
.App .productBox-white {
  min-height: 340px;
  width: 100%;
  background-color: #fff;
  color: #374151;
  border-radius: 8px;
  margin-top: 40px;
  padding: 24px 24px 12px 24px;
  border: 2px solid #2563eb;
}
.App .productBox-white h3 {
  color: #2563eb;
  text-align: left;
}
.App .productBox-white .price .price-tog {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.App .productBox-white .price .tog {
  color: #2563eb;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0;
  margin-right: 16px;
}
.App .productBox-white .price .noat {
  text-align: left;
}
.App .productBox-white .price .noat p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0;
}
.App .productBox-white .price .btns button {
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.375rem;
  width: 100%;
  margin-top: 16px;
  padding: 8px 32px;
  border: 2px solid #2563eb;
  color: #fff;
  background-color: #2B65E8;
  cursor: pointer;
}
.App .productBox-white .detail {
  font-weight: 600;
  margin-top: 20px;
}
.App .productBox-white .detail svg {
  color: #2563eb;
  margin-right: 8px;
}
.App .productBox-white .detail p {
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid rgb(178, 179, 180);
  margin-bottom: 0;
}
.App .section-second-box {
  display: flex;
  align-items: center;
}
.App .cups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}
.App .content {
  position: relative;
  margin-top: 40px;
}
.App .content img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.App .content .backcolor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2B65E8;
  opacity: 0.7;
  border-radius: 16px;
}
.App .content .welcome {
  padding: 96px 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  color: #fff;
  font-weight: 500;
}
.App .content .welcome .text {
  font-size: 1.5rem;
  line-height: 2rem;
}
.App .content .welcome .director {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.App .content .welcome .director {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 20px;
}
.App .news .title {
  margin: 40px 0px;
  text-align: center;
}
.App .news .title h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.App .news .news-box {
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.App .news .news-box .img {
  background: url("https://cdn.sanity.io/images/etna2ro5/khutulcement-sanity/411d03c64496d0283b641384dccf25fd46127f43-918x960.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 190px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.App .news .news-box .text {
  padding: 16px;
}
.App .news .news-box .text .titles {
  font-weight: 600;
  font-size: 16px;
}
.App .news .news-box .text .employee {
  display: flex;
  align-items: center;
}
.App .news .news-box .text .employee-name {
  margin-left: 10px;
}
.App .news .news-box .text .employee-name p {
  margin: 0;
}
.App .news .news-box .text .employee-name p:last-child {
  color: #a5a5a5;
  font-weight: 600;
}
.App .footer {
  width: 100%;
  margin: 80px 0px;
  padding: 64px 32px;
  border-top: 1px solid rgb(178, 179, 180);
}
.App .footer-end {
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(178, 179, 180);
}
.App .footer .copyright {
  color: #a5a5a5;
  padding: 16px 0px;
}
.App .footer .copyright .social {
  display: flex;
}
.App .footer .copyright .social p {
  padding: 0 20px;
}
.App .footer .copyright .social p:first-child {
  border-right: 1px solid rgb(178, 179, 180);
}
.App .footer .copyright .social p:last-child {
  padding-right: 0;
  border-left: 1px solid rgb(178, 179, 180);
}

@media (max-width: 1200px) {
  .menu {
    display: none !important;
  }
  .App-header-tag {
    display: none !important;
    margin: 0 !important;
  }
  .App-header {
    margin: 0 4px !important;
  }
  .App-header .icon .bar {
    display: block !important;
  }
  .section-second {
    margin: 0 !important;
    display: flex;
    justify-content: center;
  }
  .menu_icon {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */